/Library/
/OutTexture/
/NativeSource/
/Logs/
/Temp/
/.vs/
/obj/
/UserSettings/
Assets/Fonts.meta
/MemoryCaptures/
/GameApp/
/Recordings/
/ipad/
/andriod/
/iphone/
/Editor_Image/
/.idea/
/.vscode/
*.sln.DotSettings.user
